<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>Bienvenido alumno</h1>
        </div>
        <div class="row">
            <div class="card third">
                <img src="{{ url_for('static', filename='libro.png') }}" style="width: 290px; height: 290px;">
                <h3>Listar mis materias</h3>
                <p>Se podra ver un listado de todas las materias del alumno</p>
                <a href="{{ url_for('alumno.listar_materias') }}">Click aqui</a>
            </div>
            <div class="card third">
                <img src="{{ url_for('static', filename='inscripcion.png') }}" style="width: 290px; height: 290px;">
                <h3>Inscribirse a una materia</h3>
                <p>El alumno se podra inscribir a una materia</p>
                <a href="{{ url_for('alumno.inscripcion_materia') }}">Click aqui</a>
            </div>
        </div>
    </div>
</div>